*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}
html{
    scroll-behavior: smooth;
}


html::-webkit-scrollbar-track{
    background: transparent;
  }
  html::-webkit-scrollbar-thumb{
    background: #b2744c;
    border-radius: 10px;
  }
html::-webkit-scrollbar{
  width: 10px;
}


.mylogo img{
    width: 60px;
    height:5vh;
}
.mylogo h2{
    color: aliceblue;
    float: right;
    font-size: 20px;
    margin-left: 5px;
}
/*home */
.home{
    width: 100%;
    height: 90vh;
    background-image: url(./images/travel.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
}
.home h1{
    color: aliceblue;
    padding-top: 260px;
    margin-left: 20px;
}
.home p{
    margin-left: 20px;
    color:aliceblue;
    padding-top: 10px;  
}
.scroll1{
    margin-top: 10px;
}
.mybtn{
    margin-left: 50px;
    background: #b2744c;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}
.mybtn:hover{
    background: aqua;
    color: black;
}
/*home ends */
/*about */
.heading{
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 30px;
}
.heading span{
    color: brown;
}
.btn1{
    color:black;
    background-color: aqua;
}
.btn1:hover{
    background-color: brown;
    color:white;
}
@media screen and (max-width:982px){
    #about p{
      font-size: 8px;
    }
  }
  @media screen and (max-width:766px){
    #about p{
      font-size: 15px;
    }
    #about{
      height: 120vh;
    }
  }
/*about ends */
/*places */
#places .heading1{
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
}
#places .card img{
    border-radius: 10px;
    height:40vh;
}
#places .card img:hover{
    transform: translateY(-10px);
}
@media screen and (max-width:767px){
    .places{
     height: 170vh;
    } 
   }
   @media screen and (max-width:500px){
    .places{
     height: 150vh;
    } 
   }
   @media screen and (max-width:370px){
    .places{
     height: 120vh;
    } 
}
/*places end */
/* travel*/
 .mycard img{
    padding-top: 10px;
    width: 100%;
    height: 40vh;
    
    
}

.heading2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
/* travel end*/
/* rating*/
.rating img{
    height:40vh;
    
}
.heading4{
    text-align: center;
    padding-top: 20px;
    color: blueviolet;
    
    padding-bottom: 20px;
}
.container2{
    border-bottom: 2px solid;
    color: black;
    margin-bottom: 10px;
    
}
.rating h4{
    text-align: center;
    color: blueviolet;
}
.rating span{
   float: right;
   padding-right: 10px;
}

.star i{
    color: brown;
  cursor: pointer;
}
.star i:hover{
    color: red;
}
.rating span{
    color: brown;
}
.rating span:hover{
    color: red;
    
}

/* rating end*/
/* contact*/
.contact{
    width:100%;
    height: 100vh;
    background: #f7f5f2;
    padding-top: 20px;
}
.contact .container{
    width: 100%;
    height: 80vh;
    background: white;
    background: linear-gradient(90deg,white 80%,#b2744c 20%);
    border-radius: 10px;
   
}
.contact input{
  border: none;
  border-bottom: 1px solid;
   width: 50%;
}
#col{
    background-color: black;
    color: white;
    margin-top: 50px;
}
.heading6{
    font-weight: bold;
    margin-top: 50px;
}
.contact h2{
    margin-top: 30px;
    margin-left: 10px;
  }
  .contact #col p{
    padding-top: 20px;
    margin-left: 10px;
  }
  .contact .btn1{
    background: brown;
    color: white;
    width: 30%;
    margin-top: 20px;
    margin-left: 30px;
  }
  .contact .btn1:hover{
    color: black;
    background: aqua;
  }

  @media screen and (max-width:766px){
    .contact .container{
    background: white;
    }
    #col{
      width: 100%;
      background: #b2744c;
    }
    .contact{
      height: 150vh;
    }
  }
  @media screen and (max-width:400px){
    .contact input{
      width: 250px;
    }
    
  }
  
/* contact ends*/
/* footer*/
#footer{
    background-color: #b2744c;
}
.footer-logo img{
    width:100px;
    margin-top: 10px;
    padding-bottom: 20px;
    cursor: pointer;
}
.footer1{
  font-size: 20px;
  color: #f7f5f2;
  
}
.footer1 a{
    text-decoration: none;
    color: black;
}
.footer1 a:hover{
    color: blue;
}
#footer .social-links i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.copyright{
    padding-top: 20px;
}
.copyright span{
    font-weight: bold;
    color: black;
   
}
/* footer ends*/